@font-face{
	font-family: 'GothamBold';
	src: url('../fonts/Gotham-Bold.otf') format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'GothamLight';
	src: url('../fonts/Gotham-Light.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'GothamMedium';
	src: url('../fonts/Gotham-Medium.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'GothamBook';
	src: url('../fonts/Gotham-Book.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'GothamXLight';
	src: url('../fonts/Gotham-XLight.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'RalewayRegular';
	src: url('../fonts/Raleway-Regular.woff') format("woff");
	font-weight: normal;
	font-style: normal;
}.
@font-face{
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica.woff') format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'LucidaSans';
	src: url('../fonts/Lucida-Sans.woff') format("woff");
	font-weight: normal;
	font-style: normal;
}


